@{
    ViewData["Title"] = "Confirmação apagar o contato";
}

<div class="text-center">
    <h3>Realmente deseja apagar o contato (Fellipe Strombeck)?</h3>
</div>

<div class="text-center">
    <a class="btn btn-primary" role="button">Confirmar</a>
    <a class="btn btn-danger" role="button" asp-asp-controller="Contato" asp-action="Index">Cancelar</a>
</div>