@model ControleDeContatos.Models.ContatoModel;
@{
    ViewData["Title"] = "Cadastro de Contatos";
}

<div class="text-center">
    <h1 class="display-4">Cadastrar Contato</h1>
</div>

<form asp-controller="Contato" asp-action="Cadastrar" method="post">
    <div class="mb-3">
        <label for="nome" class="form-label" required>Nome</label>
        <input type="text" asp-for="Nome" class="form-control" placeholder="Digite o nome do contato">
    </div>

    <div class="mb-3">
        <label for="email" class="form-label" required>Email</label>
        <input type="text" asp-for="Email" class="form-control" placeholder="Digite o email do contato">
    </div>

    <div class="mb-3">
        <label for="nome" class="form-label" required>Celular</label>
        <input type="text" asp-for="Celular" class="form-control" placeholder="Digite o celular do contato">
    </div>

    <button type="submit" class="btn btn-primary w-100 mb-1" data-bs-toggle="modal" data-bs-target="#modalConfirmacaoCadastro" asp-controller="Contato">Cadastrar</button>
    <a class="btn btn-secondary w-100" asp-controller="Contato" role="button">Voltar</a>
</form>

<!-- Modal -->
<div class="modal fade" id="modalConfirmacaoCadastro" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Cadastro</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Cadastro realizado com sucesso!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" asp-action="Index" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>


