@{
    ViewData["Title"] = "Alterar Contato";
}

<div class="text-center">

    <h1 class="display-4">Alterar Contato</h1>


</div>

<form>
    <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" class="form-control" placeholder="Digite o nome do contato">
    </div>

    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="text" class="form-control" placeholder="Digite o email do contato">
    </div>

    <div class="mb-3">
        <label for="nome" class="form-label">Celular</label>
        <input type="text" class="form-control" placeholder="Digite o celular do contato">
    </div>
 
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary w-100 mb-1" data-bs-toggle="modal" data-bs-target="#modalConfirmacaoAlteracao">Alterar</button>
    <a class="btn btn-secondary w-100" asp-controller="Contato" asp-action="Index" role="button">Voltar</a>

    <!-- Modal -->
    <div class="modal fade" id="modalConfirmacaoAlteracao" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmação</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Deseja realmente alterar o contato?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success">Confirmar alteração</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</form>


